@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a2caff;
}

.container {
  background-color: hsl(0deg, 0%, 100%);
  width: 700px;
  padding: 4rem 3.5rem;
  box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #B9D1F1;
  border-radius: 20px;
  min-height: 600px;
}
.container .enter {
  margin-bottom: 1rem;
  position: relative;
}
.container .enter .search {
  display: flex;
  border: 2px solid hsla(0deg, 0%, 0%, 0.4);
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  transition: 0.2s;
}
.container .enter .search .search_box {
  width: 100%;
  font-size: 1.1rem;
  outline: none;
  border: none;
  margin-left: 10px;
}
.container .enter .search .search_btn {
  background: #006bf6;
  padding: 5px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  transition: background 0.2s;
}
.container .enter .search .search_btn:hover {
  background: #005bd1;
}
.container .enter .search:focus-within {
  border-color: #006bf6;
}
.container .enter span.error-txt {
  font-size: 0.873rem;
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  color: #e74c3c;
  display: none;
}
.container .main .video {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}
.container .main .video_thumb {
  width: 300px;
}
.container .main .video_desc {
  font-size: 0.873rem;
}
.container .main .tabs {
  width: 100%;
}
.container .main .tabs_title {
  text-align: center;
  margin-bottom: 10px;
}
.container .main .tabs_box {
  width: 100%;
}
.container .main .tabs_box_inner {
  width: 100%;
  max-height: 345px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-right: 10px;
}
.container .main .tabs_box_inner::-webkit-scrollbar {
  width: 8px;
}
.container .main .tabs_box_inner::-webkit-scrollbar-track {
  background: hsla(0deg, 0%, 0%, 0.1);
}
.container .main .tabs_box_inner::-webkit-scrollbar-thumb {
  background: #005bd1;
  border-radius: 10px;
}
.container .main .tabs_box_single {
  border: 1px solid hsla(0deg, 0%, 0%, 0.4);
  padding: 15px 10px;
  border-radius: 5px;
  text-align: center;
}
.container .main .tabs_box_single_icon {
  font-size: 2.5rem;
  color: hsla(0deg, 0%, 0%, 0.8);
}
.container .main .tabs_box_single_size {
  margin-top: 10px;
  line-height: 1.2rem;
}
.container .main .tabs_box_single_quality {
  margin-bottom: 15px;
  line-height: 1.2rem;
}
.container .main .tabs_box_single_download {
  background: #006bf6;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.2s;
}
.container .main .tabs_box_single_download:hover {
  background-color: #005bd1;
}

.gold {
  display: none;
}

.gold.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 2rem 1.5rem;
  }
  .container .main .video {
    grid-template-columns: 200px 1fr;
  }
  .container .main .video_thumb {
    width: 200px;
  }
  .container .main .tabs_box_inner {
    max-height: 100%;
    overflow: hidden;
    margin-left: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 567px) {
  .container .main .video {
    grid-template-columns: 1fr;
  }
  .container .main .video_thumb {
    width: 100%;
  }
  .container .main .tabs_box_inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 365px) {
  .container .main .tabs_box_inner {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */