// Buttons
.btn{
    padding: 0.5rem 1rem;
    color: var(--body-color);
    background-color: var(--first-color);
    border-radius: .4rem;
    transition: .4s;
    font-size: var(--normal-font-size);
    &__ghost{
        color: var(--first-color);
        background-color: var(--body-color);
        border: 2px solid var(--first-color);
        &:hover{
            background-color: var(--first-color);
            color: var(--body-color);
        }
    }
    &:hover{
        background-color: var(--first-color-alt);
    }
}