.button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 30px 0;
}

.btn {
    padding: 15px 40px;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 10px;
    color: var(--title-light-color);
    transition: background-color .2s;
    min-width: max-content;
    &:hover{
        background-color: var(--dark-white-color);
    }
}

.btn-positive {
    background-color: var(--main-color)!important;
    &:hover{
        background-color: var(--dark-color);
    }
}

@media screen and (max-width: 500px) {
    .btn {
        column-gap: 7px;
        padding: 9px 30px;
    }
}

// Dark Mode
body.dark {
    .btn{
        color: var(--text-dark-color);
        background-color: var(--dark-menu-color);
    }
    .btn-positive {
        color: var(--title-light-color)
    }
}